@media screen and (max-width: 500px) {

    #div_social {
        margin: auto;
    }


    .resume_floatleft {
        font-size: x-small;
        font-weight: bold;
    }


    .resume_floatright {
        font-size: x-small;
        font-weight: bold;
    }

    .workhistory_title {
        font-size: small;
        margin-top: -.5em !important;
    }

    .p_workhistory_description {
        font-size: small;
        margin-left: 10px;
    }

    .div_cardbody {
        padding: 2px !important;
    }

    .div_workhistory {
        margin: .2em !important;
    }

    .title_training 
    {
        font-size: medium;
    }

    #selected_contentholder {
        display: none;
    }
    #selected_contentholder_mobile 
    {
        display: flex;
    }

    #main_carousel
    {
        font-size: smaller;
    }

    .resume_mini_icon
    {
        display: none;
    }
}

