@media screen and (max-width: 500px) {

    #div_social {
        margin: auto;
    }


    .resume_floatleft {
        font-size: x-small;
        font-weight: bold;
    }


    .resume_floatright {
        font-size: x-small;
        font-weight: bold;
    }

    .workhistory_title {
        font-size: small;
        margin-top: -.5em !important;
    }

    .p_workhistory_description {
        font-size: small;
        margin-left: 10px;
    }

    .div_cardbody {
        padding: 2px !important;
    }

    .div_workhistory {
        margin: .2em !important;
    }

    .title_training 
    {
        font-size: medium;
    }

    #selected_contentholder {
        display: none;
    }
    #selected_contentholder_mobile 
    {
        display: flex;
    }

    #main_carousel
    {
        font-size: smaller;
    }

    .resume_mini_icon
    {
        display: none;
    }

}

@media screen and (min-width: 500px) 
{
    .resume_section_cardtitle {
        position: relative;
    }

        .resume_section_cardtitle:before, .resume_section_cardtitle:after {
            content: "";
            position: absolute;
            height: 15px;
            width: 20px;
            bottom: 0;
        }

    .resume_section_cardtitle:after {
        right: -20px;
        border-radius: 0 0 0 10px;
        box-shadow: -10px 0 0 0 #fff;
    }

        .resume_section_cardtitle:before {
            left: -20px;
            border-radius: 0 0 10px 0;
            box-shadow: 10px 0 0 0 #fff;
        }
}