/* General */
.resume_alignleft
{
    text-align: left;
}

.resume_floatleft {
    float: left;
}

.resume_floatright {
    float: right;
}

.resume_bold
{
    font-weight: bold;
}

.resume_maincard 
{
    margin: 5px 0px 5px 0px;
    border-width: 0px !important;
}


.resume_span_category {
    font-weight: bold;
    color: whitesmoke;
    margin: 5px;
    text-align: center;
}

.resume_hr_categorylist {
    margin: 10px;
}


.resume_mini_icon
{
    border-radius: 5px;
    width: 20px;
    margin-right: 2px;
}

.resume_mini_icon_github 
{
    background-color: purple;
}

/* h1 section title with inverse curves */

.resume_section_cardtitle {
    width: fit-content;
    background-color: white;
    margin-top: 10px;
    margin-bottom: -6px;
    padding-bottom: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-width: 0px;
    border-style: ridge;
}

.resume_section_cardlesstitle {
    width: fit-content;
    color: whitesmoke;
    border-radius: 10px;
    border-style: ridge;
    padding: 0px 5px 5px 5px;
    margin-top: 10px;
}


/* Work History */

.workhistory_cardtitle {
    margin-bottom: 0px !important;
}


.workhistory_title 
{
    text-align: left;
    float: left;
    font-weight: bold;
}

.p_workhistory_description 
{
    float: left;
    font-weight: normal;
}

/* Training Certs */
.row_trainingcerts 
{
    border: 2px solid whitesmoke;
}

.col_traininglist
{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

/* Code Samples */
.cardbody_codesample
{
    padding: .5rem .5rem !important;
}