#container_about
{
	
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	font-size: xx-large;
	letter-spacing: 1px;
	margin-top: 10px;
	
}

.display_about 
{
	max-height: 25px;
	text-align: center;
}
