.main {
    display: flex;
    padding: 2em;
    height: 90vh;
    justify-content: center;
    align-items: middle;
}


nav
{
	position:absolute;	
	z-index: 1;
	top: 0px;	
	width: 100%;
	text-align: center;
	margin: auto;
	padding: 0px;
}

nav ul
{
	margin: 0px;
	margin-top: 5px;
	padding: 0px;
}

nav li
{
	display: inline;
	margin: 0px;
}

nav button
{
	
	min-width: 75px;
	width: 75px;
	min-height: 40px;
	height: 40px;
	
	font-size: large;
	font-weight: bold;
	border-style: solid;
	border-width: 2px;
	
	margin: 0px;

	cursor: pointer;
}

@media screen and (max-width: 500px) {
	
	tbody {
		font-size: medium;
	}

	#container_about
	{
		font-size:larger;
	}
}