@font-face {
    font-family: MaximageGimbadong;
    src: url("../fonts/MaximageGimbadong.woff") format("woff");
}



/*Banner*/

#Main_Banner
{
	height:100px;
	min-height:100px;
	max-height:100px;
	
	background-color: #262626;
	
	text-align:center;
	vertical-align: middle;
	font-size: 50px;
	font-family: MaximageGimbadong;
	color: gold;
	
	display: flex;
    align-items:center;
    justify-content:center;
	
}

/*Top_Divider*/
#Top_Divider
{
	height:25px;
	min-height:25px;
	max-height:25px;
	
	background-color: #C00000;
	/*background-image: url(../images/redvelvet.jpg);*/
	background-image: url(../images/ChineseTopBanner.png);
	background-size: contain;

	
}

.Divider_Gold
{
	height:3px;
	
	background-color: #D4AF37;
	background: linear-gradient(to bottom, #f8b500, yellow, #f8b500);
	
}


/*Main Body*/
#Main_Body
{
	height: calc(100vh - 162px);  /*6,6,25,100,25*/
}




/*Vertial Border*/

.Background_Curtains
{
		background-image: url(../images/redcurtains3.jpg);
		background-size: cover;
}



/*Left Ad*/


/*Right Ad*/




/*Footer Ad*/


/*Brave Footer Ad*/




